:root{
    --pink_main: rgb(244, 210, 226);
    --yellow_main: rgb(237, 244, 135);
    --background: rgb(68, 57, 68);
}
body{
    padding: 12px;
    margin: 0;
    background-color: var(--background);
}

body::-webkit-scrollbar {
    display: none;
  }

li, a, button, h1, label{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
header{
    height: 2.5rem;
    width: 99%;
    min-width: 60rem;
    border-radius: 20px;
    background-color: var(--pink_main);
    position: fixed;
    z-index: 999;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 20px;
    width: 35%
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}

.main_head{
    width: 60%;
    height: 100%;
    gap: 40px;


    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links{
    list-style-type: none;
    height: 100%;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.links>li{
    text-decoration: none;
    height: 70%;
    margin-bottom: 2px;
    width: auto;
    padding: 0px 10px;
    transition: all 0.1s ease 0s;



    display: flex;
    justify-content: center;
    align-items: center;
}
.links>li:hover{
    background-color: var(--yellow_main);
    box-shadow: 0px 4px 0px 0px rgb(124, 129, 57);;
    border-radius: 15px;
}


.artButton{
    border: none;
    border-radius: 15px;
    background-color: var(--yellow_main);
    
    box-shadow: 0px 5px 0px 0px rgb(124, 129, 57);
    cursor: pointer;
}

.artButton:active{
    box-shadow: none;
    transform: translateY(4px);
   
}

.headBtn{
    margin: 0px 20px 5px 0px;
    min-width: 10rem;
    height: 70%;
}

.popBtn{
    width: 10rem;
    margin-top: 2rem;
}


.logo{
    margin: 0px 20px;
    height: 75%;
    width: auto;
}



.mainGrid{
    display:grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-rows: 100px;

    margin-top: 3.5rem;
    margin-left: 3.5rem;
    
}

.sidebar{
    width: 2.5rem;
    height: 350px;
    border-radius: 20px 20px 10px 50px;
    background-color: var(--pink_main);
    position: fixed;
    margin-top: 3.5rem;
}

.piece-1{
    border: 8px solid;
    border-color: var(--yellow_main);
    position: relative;
    border-radius: 20px;
    aspect-ratio: 2/3;
    overflow: hidden;

}

.piece-1 > img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: top;

    transition: transform .2s;
}
.piece-1:hover > img{
    transform: scale(1.10);
}
.piece-1:hover > .textBox, .piece-1:hover > .btnRemove{
    opacity: 1;
}

.textBox{
    position: absolute;
    bottom: 1%;
    left: 2%;
    width: 90%;
    padding: 2% 2%;

    word-wrap: break-word;

    opacity: 0;
    transition: all 0.2s ease 0s;

}

.textBox > h1, .textBox>p{
    color: white;
    width: 100%;
    margin: 1%;
}

.btnRemove{
    border: none;
    appearance: none;
    background-color: inherit;
    cursor: pointer;

    padding: 3%;
    right: 0.5%;

    width: 12%;
    position:absolute;

    opacity: 0;
    transition: all 0.2s ease 0s;
}

.btnRemove > img{
    width: 100%;
    height: 100%;
}


.popupAdd{
    background-color: var(--pink_main);
    border-radius: 60px;
    box-shadow: 0px 20px 0px 0px rgb(126, 82, 103);
    position: fixed;
    opacity:0;
    transition: all 0.3s ease 0s;

    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30%;
    min-width: 25rem;
    height: 40%;
    min-height: 25rem;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupAdd.open{
    opacity: 1;
    z-index: 999;
}

.popupInterior{
    text-align: center;
    padding: 10px;
}

.name{
    width: 70%;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0px 5px 0px 0px rgb(124, 129, 57);
    border-color:var(--yellow_main);
    border-width: 3px;
    background-color: rgb(122, 87, 104);
    color: white;

    margin-bottom: 1rem;
}

.description{
    width: 70%;
    height: 10rem;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 5px 0px 0px rgb(124, 129, 57);
    border-color:var(--yellow_main);
    background-color: rgb(122, 87, 104);
    color: white;
    margin: 2px;
    padding: 2px;
    resize: none;
}
/*--------------- ARTWORK SUBPAGE -------- */
.sidebar_artwork{
    width: 25%;
    height: 100%;
    border-radius: 20px 20px 50px 20px;
    background-color: var(--pink_main);
    margin-top: 3.5rem;
    padding: 1%;
}

.artwork_display{
    width: 75%;
    margin-top: 3.5rem;
    height: 90vh;
    border-radius: 20px;
    background-color: rgb(20, 13, 17);
    overflow: hidden;
    aspect-ratio: 5/2;
    
}

.main_c{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
}

.artwork_display > img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: contain;
    object-position: top;
}

.artwork_text{
    word-wrap: break-word;
    margin-bottom: 3rem;
}

.artwork_text > p{
    font-weight: 400;
    margin-top: 0.3em;
}

.artwork_text > h1{
    width: 100%;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.creator_display{
    display: flex;
    flex-wrap: wrap;
}

.profile_pic{
    border-radius: 1000px;
    width: 8rem;
    aspect-ratio: 1/1;

    object-fit:cover;
    overflow: hidden;   
}

.profile_info{
    margin-left: 1rem;
}

.profile_info > h1{
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 0;
}

.profile_info > p{
    width: 100%;
    font-weight: 500;
    opacity: 0.7;
    margin: 0;
}